@font-face {font-family: "iconfont";src:url(../fonts/iconfont.ttf) format('truetype')}
.iconfont {font-family:"iconfont" !important;font-size:16px;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}
.icon-xiangxia:before { content: "\e602"; }
.icon-xiangyou:before { content: "\e604"; }
.icon-mine:before { content: "\e603"; }
/*login*/
.login-bg{background: url(../images/bg.png) no-repeat 0 0;background-size: cover;width: 100%;height: 100%;position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 1;}
.logo{width:34.8%;height: auto;position: absolute;z-index: 100;top: 8%;left: 50%;margin-left: -17.4%;}
.logo img{display: block;width: 100%;}
.login-text{width: 73%;height: auto;position: absolute;z-index: 100;top:19.5%;left: 50%;margin-left: -36.5%;}
.mui-input-row{position: relative;}
.mui-input-row.pl26 input{padding-left: 26px;}
input, select, textarea {font-size: 12px;}
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {line-height: 14px;height: 27px;margin-bottom: 10px;padding: 6px 10px;}
.caret-down{position: absolute;right: 10px;top: 5px;color: #009ce4;font-size: 12px;}
.mui-icon-locked,.icon-mine{position: absolute;left: 6px;top: 5px;font-size: 16px;}
.mui-checkbox input[type=checkbox], .mui-radio input[type=radio] {position: absolute;top: 5px;right: 0px;display: inline-block;width: 16px;height: 16px;border: 0;outline: 0!important;background-color: transparent;-webkit-appearance: none;}
.mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio] {left: 0px;}
.mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before {font-family: iconfont!important;font-size: 14px;font-weight: 400;line-height: 1;text-decoration: none;color: #aaa;border-radius: 0;background: 0 0;-webkit-font-smoothing: antialiased;}
.mui-checkbox.mui-left label, .mui-radio.mui-left label {padding-right: 15px;padding-left: 18px;padding-top: 0;padding-bottom: 0;font-size: 13px;color: #A9A9A9;}
.mui-checkbox input[type=checkbox]:before {content: "\e601"; }
.mui-checkbox input[type=checkbox]:checked:before {content: "\e600";color: #aaa;}
.login-password{position: absolute;position: relative;margin-top: -21px;font-size: 12px;right: 0;height: 21px;line-height: 21px;float: right;z-index: 200;}
.mui-btn-block {font-size: 14px;display: block;width: 100%;margin-top: 10px; background-color: #015494;color: #fff;letter-spacing: 10px;padding: 8px 0;}
.login-copy{width:56%;position: absolute;z-index: 100;bottom: 3.7%;left: 50%;margin-left: -28%;}
.login-copy img{width: 100%;display: block;}
div.container {color: red;font-size: 12px;display: none;background-color: rgba(0,0,0,0.25);border-radius: 5px;}
div.container ul{list-style-type: none;margin: 0;padding: 5px 0;}
div.container ul li{list-style-type: none;padding: 0px 10px;}

