@font-face {font-family: "iconfont";src:url(../fonts/iconfont.ttf) format('truetype')}
.iconfont {font-family:"iconfont" !important;font-size:16px;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}
.icon-xiangyou:after { content: "\e604"; }
.icon-checkbox:before { content: "\e600"; color: #a7a7a7;}
.icon-checkboxoutlineblank:before { content: "\e601"; color: #a7a7a7;}
.icon-riqi:before { content: "\e605"; position: absolute;right: 8px;top: 6px;font-size: 22px;}

body,.mui-content{background: #fff;}
header.mui-bar {background: #015595;}
.mui-bar {-webkit-box-shadow: 0 0 0px rgba(0,0,0,.85);box-shadow: 0 0 0px rgba(0,0,0,.85);}
.mui-bar .mui-title {color: #fff;}
.mui-bar .mui-icon {font-size: 18px;}
.mui-bar .mui-icon.mui-icon-left-nav{font-size: 30px;padding-top: 6px;color: #fff;}
.mui-bar .mui-btn-link {color: #fff;font-size: 12px;}
.mui-bar-tab .mui-tab-item.mui-active {
    color: #fff;
    background-color: #015494;
}

.radar,.radar-contrast{margin: 15px;}
.radar .mui-card,.radar .mui-card .mui-table-view {border-radius: 0px;border: none;}
.radar .mui-card .mui-table-view .mui-table-view-cell:first-child, .mui-card .mui-table-view .mui-table-view-divider:first-child {top: 0;border-top-left-radius: 0;border-top-right-radius: 0;}
.radar .mui-card .mui-table-view .mui-table-view-cell:last-child, .mui-card .mui-table-view .mui-table-view-divider:last-child {border-bottom-right-radius: 6px;border-bottom-left-radius: 6px;}
.radar .mui-card .mui-table-view .mui-table-view-cell:last-child .mui-collapse-content ul li:last-of-type{border-bottom: none;}
.radar .mui-table-view-cell>a:not(.mui-btn) {font-size: 14px;}
.radar .mui-card .mui-table-view .mui-table-view-cell:last-child .mui-collapse-content{margin-bottom: -18px;}
.radar .mui-card .mui-table-view .mui-table-view-cell.mui-active a{background-color: #fff;color: #015595;}
.radar .mui-table-view-cell:after {left: 0px;background-color: #ccc;}
.radar .mui-card .mui-table-view .mui-table-view-cell.mui-active:after{height: 0;}
.radar.mui-content>.mui-card {margin: 0px;}
.radar .mui-table-view-cell.mui-collapse>.mui-navigate-right:after, .radar .mui-table-view-cell.mui-collapse>.mui-push-right:after {content: '\e583';font-size: 30px;right: 0;}
.radar .mui-table-view-cell.mui-collapse.mui-active>.mui-navigate-right:after, .radar .mui-table-view-cell.mui-collapse.mui-active>.mui-push-right:after {content: '\e581';font-size: 30px;right: 0;}
.radar .mui-card .mui-table-view:after, .mui-card .mui-table-view:before, .radar .mui-card>.mui-table-view>.mui-table-view-cell:last-child:after, .radar .mui-card>.mui-table-view>.mui-table-view-cell:last-child:before {height: 1px;}
.radar .mui-card .mui-table-view-cell .mui-collapse-content ul,
.radar .mui-card .mui-table-view-cell .mui-collapse-content ul li{padding: 0;margin: 0;list-style-type: none;}
.radar .mui-card .mui-table-view-cell .mui-collapse-content ul li{border-bottom: 1px solid #DCDCDC;height: 43px;line-height: 43px;padding: 0;position: relative;overflow: hidden;}
.radar .mui-card .mui-table-view-cell .mui-collapse-content ul li:first-of-type{border-top: 1px solid #ccc;background-color: #E3E3E3;}
.radar .mui-card .mui-table-view-cell .mui-collapse-content ul li span{width: 33%;float: left;text-align: center;font-size: 12px;}
.radar .mcc-analysis{height: 50px;line-height: 50px;text-align: center;width: 100%;background-color: #E3E3E3;margin-top: 50px;}
.radar .mcc-analysis.echart{margin-top: 1px;}
.radar .mui-card  .mui-table-view-cell.mui-collapse .mui-collapse-content {margin: 11px -30px -11px;padding: 0px 15px;background: #efefef;}
.radar .mui-table-view-cell.mui-collapse.mui-active {margin-top: 0;}

#content-menu-slide .swiper-slide {width: 20%;height: 45px;line-height: 45px;border-bottom: 1px solid #C3C3C3;text-align: center;font-size: 13px;}
#content-menu-slide .swiper-slide a{display: block;color: #000;}
#content-menu-slide .swiper-slide-bb{border-bottom: 2px solid #015594;}

.radar-from{margin-top: 15px;}
.radar-from-title{font-size: 13px;text-align: left;height: 25px;line-height: 25px;}
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
    height: 30px;
    margin-bottom: 0px;
    padding: 5px 25px 5px 15px;
    border-radius: 0px;
    font-size: 13px;
}
.mui-icon-search{position: absolute;right: 5px;top: 7px;font-size: 16px;color: #ddd;}
.mui-icon-arrowdown{position: absolute;right: 5px;top: 5px;color: #ddd;}
.radar-from-between{overflow: hidden;}
.radar-from-between .mui-input-row{width: 48%;float: left;clear: none;}
.radar-from-between .mui-input-row:last-child{float: right;}
.radar-more{font-size: 13px;text-align: left;height: 25px;line-height: 25px;}
.fangshi .radar-from-between .mui-input-row{width: 68%;float: left;clear: none;}
.fangshi .radar-from-between .mui-input-row:last-child{width:28%;float: right;}
.ml30{margin-left: 30px;}
.radar-con-title{font-size: 13px;text-align: left;height: 25px;line-height: 25px;margin: 20px 0 0px;}
.radar-con-analysis{margin-top: 20px;}
.radar-con-analysis .rca-title{font-size: 13px;text-align: left;height: 25px;line-height: 25px;}
.radar-con-analysis .radar-from{margin-top: 5px;}
.rca-active{color: #015595;}

.radar-echart{margin-top: 20px;}
#main{height: 400px;margin: 0;padding: 0;width: 100%;}
.tl{text-align: left!important;padding-left: 10px!important;}