@font-face {font-family: "iconfont";src:url(../fonts/iconfont.ttf) format('truetype')}
.iconfont {font-family:"iconfont" !important;font-size:16px;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}
.icon-xiangxia:before { content: "\e602"; }
.icon-xiangyou:after { content: "\e604"; }
.icon-checkbox:before { content: "\e600"; color: #a7a7a7;line-height: 30px;position: relative;top: 2px;}
.icon-checkboxoutlineblank:before { content: "\e601"; color: #a7a7a7;line-height: 30px;position: relative;top: 2px;}
.icon-riqi:before { content: "\e605"; position: absolute;right: 6px;top: 4px;font-size: 22px;color: #ddd;}
.icon-pen:before { content: "\e606";color: #F6CD6E; }
.icon-x:before { content: "\e607"; }
.icon-mine:before{content: "\e603";position: absolute;right: 6px;top: 4px;font-size: 22px;color: #ddd;}
.caret-down{position: absolute;right: 10px;top: 10px;color: #009ce4;font-size: 12px;}

.mui-bar {
    -webkit-box-shadow: 0 0 0px rgba(0,0,0,.85);
    box-shadow: 0 0 0px rgba(0,0,0,.85);
}
body,.mui-content{background: #fff;}
.remind-new-body,.remind-new-body .mui-content{background: #fff;}
header.mui-bar {background: #015595;}
.mui-bar .mui-title {color: #fff;}
.mui-bar .mui-icon {font-size: 18px;}
.mui-bar .mui-icon.mui-icon-left-nav{font-size: 30px;padding-top: 6px;color: #fff;}
.mui-bar .mui-btn-link {color: #fff;font-size: 12px;}
.mui-bar-tab .mui-tab-item.mui-active {
    color: #fff;
    background-color: #015494;
}
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
    line-height: 21px;
    width: 100%;
    height: 30px;
    margin-bottom: 0px;
    padding: 5px 15px;
    -webkit-user-select: text;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0px;
    outline: 0;
    background-color: #fff;
    -webkit-appearance: none;
    font-size: 13px;
}

.remind-new,.remind-option,.remind-information{margin: 15px;}
.ind-title{height: 30px;line-height: 30px;color: #015794;font-size: 13px;text-align: left;}
.ind-con{position: relative;overflow: hidden;}
.remind-new-title{height: 40px;line-height: 40px;padding-left: 20px;color: #015794;background-color: #d0d0d0;font-size: 14px;}
.remind-new-con{background: #fff;padding: 15px;}
.remind-new-foot{height: 40px;line-height: 40px;color: #015794;text-align: left;font-size: 13px;background: #fff;padding-left: 20px;position: relative;border-bottom: 0px solid #ddd;margin-top: 10px;background: #EAEAEA;}
.remind-new-foot a{color: #015794;}
.remind-new-foot:after{    display: inline-block;
    font-family: Muiicons;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;content: "\e583";position: absolute;top: 8px;right: 0px;color: #ddd;}
input[type=text].w100{width: 100px;height: 30px;padding: 5px 15px;font-size: 13px;line-height: 1;}
.mir-span{font-size: 13px;color: #015794;padding-left: 15px;line-height: 30px;}
.bbd1{border-bottom: 1px dashed #015794;}
.btd1{border-top: 1px dashed #015794;padding-top: 18px;}
.ind-fs{font-size: 13px;color: #015794;}
.mirc-xiangxia,.mirc-person,.mirc-date{position: relative;display: inline-block;}
.mirc-xiangxia:after{display: inline-block;font-family: Muiicons;font-size: 30px;font-style: normal;font-weight: 400;line-height: 1;text-decoration: none;-webkit-font-smoothing: antialiased;content: "\e581";position: absolute;top: 0px;right: 0;border-left: 1px solid #ddd;color: #ddd;}
.mirc-xiangxia1.mirc-xiangxia:after{top: 5px;}
.mirc-xiangxia input[type=text]{width: 100px;color: #999;}
.mirc-date:after{display: inline-block;font-family:"iconfont" !important;font-size:20px;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;content: "\e605";position: absolute;top: 0px;right: 2px;color: #ddd;}
.mir-con .mirc-date input[type=text]{width: 140px;}
.lh40{line-height: 40px;}
.dan{font-size: 12px;color: #C4D1E0;}

#tab-menu-slide .swiper-slide {width: 33.333333%;text-align: center;}
#tab-menu-slide .swiper-slide ul,#tab-menu-slide .swiper-slide li{list-style-type: none;padding: 0;margin: 0;}
#tab-menu-slide .swiper-slide ul li{height: 50px;line-height: 50px;font-size: 13px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
#tab-menu-slide .swiper-slide ul li:first-of-type{font-size: 16px;background-color: #e8e8e8;}

.leibie{height: 40px;width: 33.333333%;line-height: 40px;text-align: center;color: #015794;background:#d0d0d0;float: left;display: block;}
.leibie.leibie-active{background: #015794;color: #fff;}
.mui-switch-span{font-size: 13px;display: inline-block;}
.mtvc{position: relative;overflow: hidden;margin: 0 0 9px 0;-webkit-touch-callout: none;    -webkit-transform-style: preserve-3d;transform-style: preserve-3d;}
.mtvc>.mui-switch{
    position: absolute;
    top: 50%;
    right: 0px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.mui-switch{height: 20px;}
.mui-switch .mui-switch-handle{width: 18px;height: 18px;}
.mui-switch-mini.mui-active .mui-switch-handle {-webkit-transform: translate(27px,0);transform: translate(27px,0);}
.mui-switch-blue.mui-active {border: 2px solid #015794;background-color: #015794;}
.mt8{margin-top: 8px;}
.mt18{margin-top: 18px;}

.attachment{line-height: 21px;width: 100%;height: 30px;padding: 5px 10px;padding-right: 33%;-webkit-user-select: text;border: 1px solid rgba(0,0,0,.2);border-radius: 0px;outline: 0;background-color: #fff;-webkit-appearance: none;font-size: 13px;color: #999;}
.file {width: 23%;height:30px;line-height:30px;display: block;position: absolute;top: 0;right: 0;background-color: #015595;color: #fff;font-size: 13px;text-align: center;overflow: hidden;text-decoration: none;}
.file input {position: absolute;font-size: 100px;right: 0;top: 0;opacity: 0;}
textarea.indc-ta{height: 100px;font-size: 13px;}
.bt1{border-top: 1px solid #ddd;}
.ntccon-span{color: #015794;font-size: 13px;}
.mirc-time{width: 50px;height: 30px;line-height: 30px;text-align: center;display: inline-block;color: #015794;background: #D5D5D5;}
.mirc-time.mirc-time-active{color: #fff;background: #015794;}
input[type=text].w60{width: 60px;height: 30px;padding: 5px 15px;font-size: 13px;line-height: 1;}
.zhushi{font-size: 12px;color: #ddd;line-height: 30px;}

.task-feedback-ul,.task-feedback-li{list-style-type: none;padding: 0;margin: 0;}
.task-feedback-ul{overflow: hidden;}
.task-feedback-li{width: 50%;float: left;}
.task-feedback-li a{height: 50px;line-height: 50px;font-size: 17px;background: #d0d0d0;border-bottom: 1px solid #EEEEEE;display: block;padding-left: 0px;color: #015794;text-align: center;}
.task-feedback-li.tfl-active a{background: #015794;color: #fff;}

.swd-div{position: relative;font-size: 13px;text-align: left;}
.swd-title{height: 30px;line-height: 30px;color: #015794;border-bottom: 1px solid #ddd;}
.swd-con{line-height: 25px;color: #999;padding-top: 5px;}
.mt20{margin-top: 20px;}
.swd-li,.swd-ul{margin: 0;padding: 0;list-style-type: none;}
.swd-li:first-of-type{color: #015794;}
.swd-li:last-of-type{border-bottom: none;}
.swd-li{height: 40px;line-height: 40px;border-bottom: 1px solid #ddd;}
.swd-li span{width: 70px;display: inline-block;text-align: left;color: #015794;}
.swd-li-you:after{display: inline-block;
    font-family: Muiicons;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;    content: "\e583";position: absolute;top: 2px;right: 0;color: #ddd;}
    
.popup{position: fixed;background: rgba(0,0,0,0.5);left: 0;top: 44px;width: 100%;bottom:0;z-index: 9999;display: none;}
.popup ul, .popup li{margin: 0;padding: 0;list-style-type: none;}
.popup ul{width: 90%;margin-left: -45%;left: 50%;position: absolute;height: auto;margin-top: -80px;top: 50%;padding: 40px 0;z-index: 10000;text-align: center;background: #fff;}
.popup li{background: #fff;color: #015494;font-size: 14px;height: 40px;line-height: 40px;}
.popup li:first-of-type{background: #015494;color: #fff;}
.blue{background: #015494!important;color: #fff!important;}

#content-menu-slide{margin-bottom: 15px;}
#content-menu-slide .swiper-slide {width: 16.666666%;height: 45px;line-height: 45px;border-bottom: 1px solid #C3C3C3;text-align: center;font-size: 13px;}
#content-menu-slide .swiper-slide-bb{border-bottom: 2px solid #015594;}
.tl{text-align: left!important;padding-left: 10px!important;}