@font-face {font-family: "iconfont";src:url(../fonts/iconfont.ttf) format('truetype')}
.iconfont {font-family:"iconfont" !important;font-size:16px;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}
.icon-xiangyou:after { content: "\e604"; }
.icon-checkbox:before { content: "\e600"; color: #a7a7a7;}
.icon-checkboxoutlineblank:before { content: "\e601"; color: #a7a7a7;}
.icon-riqi:before { content: "\e605"; position: absolute;right: 8px;top: 6px;font-size: 22px;}

body,.mui-content{background: #fff;}
header.mui-bar {background: #015595;}
.mui-bar .mui-title {color: #fff;}
.mui-bar .mui-icon {font-size: 18px;}
.mui-bar .mui-icon.mui-icon-left-nav{font-size: 30px;padding-top: 6px;color: #fff;}
.mui-bar .mui-btn-link {color: #fff;font-size: 12px;}
.mui-bar-tab .mui-tab-item.mui-active {
    color: #fff;
    background-color: #015494;
}

.system-warning,.system-warning-details{margin: 15px;}
#tab-menu-slide .swiper-slide {width: 33.333333%;text-align: center;}
#tab-menu-slide .swiper-slide ul,#tab-menu-slide .swiper-slide li{list-style-type: none;padding: 0;margin: 0;}
#tab-menu-slide .swiper-slide ul li{height: 50px;line-height: 50px;font-size: 13px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
#tab-menu-slide .swiper-slide ul li:first-of-type{font-size: 16px;background-color: #e8e8e8;}


.swd-div{position: relative;font-size: 13px;text-align: left;}
.swd-title{height: 30px;line-height: 30px;color: #015794;border-bottom: 1px solid #ddd;}
.swd-con{line-height: 25px;color: #999;padding-top: 5px;}
.mt20{margin-top: 20px;}
.swd-li,.swd-ul{margin: 0;padding: 0;list-style-type: none;}
.swd-li:first-of-type{color: #015794;}
.swd-li:last-of-type{border-bottom: none;}
.swd-li{height: 40px;line-height: 40px;border-bottom: 1px solid #ddd;}
.swd-li span{width: 70px;display: inline-block;text-align: left;color: #015794;}
.swd-li-you:after{display: inline-block;
    font-family: Muiicons;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;    content: "\e583";position: absolute;top: 2px;right: 0;color: #ddd;}

.system-warning-detailsa{margin: 0 15px;}
.system-warning-detailsa .mui-card{margin:0;border: none;border-radius: 0px;}
.system-warning-detailsa .mui-content>.mui-card:first-child {margin-top: 0px;}
.system-warning-detailsa .mui-table-view-cell:after {left: 0px;height: 0px;}
.system-warning-detailsa .mui-table-view-cell{color: #929292;background-color: #E2E2E2;margin-bottom: 10px;font-size: 13px;}
.system-warning-detailsa .mui-table-view-cell .mui-table-view-cell-span{display: inline-block;wid 70%;}
.system-warning-detailsa .mui-table-view-cell .mui-table-view-cell-title{display: inline-block;width: 30%;vertical-align: top;}
.system-warning-detailsa .mui-card .mui-table-view .mui-table-view-cell:first-child, .system-warning-detailsa .mui-card .mui-table-view .mui-table-view-divider:first-child {border-top-left-radius: 0;border-top-right-radius: 0;}
.system-warning-detailsa .mui-card .mui-table-view .mui-table-view-cell:last-child,.system-warning-detailsa .mui-card .mui-table-view .mui-table-view-divider:last-child {border-bottom-right-radius: 0;border-bottom-left-radius: 0;margin-bottom: 0;}
.system-warning-detailsa .mui-table-view-cell.mui-collapse.mui-active {margin-top: 0px;}
.system-warning-detailsa .mui-card-detail .mui-table-view-cell{margin-bottom: 0;background-color: #fff;}
.system-warning-detailsa .mui-card-detail .mui-table-view-cell span{width: 40%;text-align: center;display: inline-block;}
.system-warning-detailsa .mui-card-detail .mui-table-view-cell span:last-of-type,.system-warning-detailsa .mui-card-detail .mui-table-view-cell span:first-of-type{width: 25%;}
.system-warning-detailsa .mui-card-detail .mui-table-view-cell {border-bottom: 1px solid #E1E1E1;}
.system-warning-detailsa .mui-table-view-cell.mui-collapse>.mui-navigate-right:after,.system-warning-detailsa .mui-table-view-cell.mui-collapse>.mui-push-right:after {content: '\e583';font-size: 30px;right: 0;}
.system-warning-detailsa .mui-table-view-cell.mui-collapse.mui-active>.mui-navigate-right:after,.system-warning-detailsa .mui-table-view-cell.mui-collapse>.mui-push-right:after {content: '\e581';font-size: 30px;right: 0;}
.system-warning-detailsa .mui-table-view-cell.mui-collapse.mui-active .mui-collapse-content,.system-warning-detailsa .mui-table-view-cell.mui-collapse.mui-active .mui-table-view {background-color: #EEEEEE;}
.system-warning-detailsa .mcc-report-ul,.system-warning-detailsa .mcc-report-li{list-style-type: none;padding: 0;margin: 0;}
.system-warning-detailsa .mcc-report-ul{margin-bottom: 50px;font-size: 13px;}
.system-warning-detailsa .mcc-report-li{border-bottom: 1px dotted #A7A7A7;line-height: 2.4;}
.system-warning-detailsa .mcc-ul,.system-warning-detailsa .mcc-li{list-style-type: none;padding: 0;margin: 0;}
.system-warning-detailsa .mcc-ul{margin-bottom: 30px;font-size: 13px;}
.system-warning-detailsa .mcc-li{margin-bottom: 10px;font-size: 13px;}
.system-warning-detailsa .mcc-li .mcc-li-title{height: 25px;line-height: 25px;}
.system-warning-detailsa .mcc-li .mcc-li-title span{color: #015595;display: inline-block;margin-right: 10px;height: 25px;line-height: 25px;}
.system-warning-detailsa .mui-card-detail .mui-table-view-cell .mui-collapse-content span:last-of-type,.system-warning-detailsa .mui-card-detail .mui-table-view-cell .mui-collapse-content span:first-of-type{width: auto;}
.system-warning-detailsa .mcc-li .mcc-li-text{line-height: 1.9;}
.system-warning-detailsa .mcc-div{margin-bottom: 10px;font-size: 13px;}
.system-warning-detailsa input[type=text]{width: 76%;margin-right: 3%;height: 30px;margin-bottom: 0;padding: 5px 15px;}
.mui-btn-blue, .mui-btn-primary, input[type=submit] {font-size: 13px;font-weight: 400;line-height: 20px;width: 20%;padding: 5px 12px;background-color: #015595;border: none;}

.popup{position: fixed;background: rgba(0,0,0,0.5);left: 0;top: 44px;width: 100%;bottom:0;z-index: 9999;display: none;}
.popup ul, .popup li{margin: 0;padding: 0;list-style-type: none;}
.popup ul{width: 90%;margin-left: -45%;left: 50%;position: absolute;height: auto;margin-top: -80px;top: 50%;padding: 40px 0;z-index: 10000;text-align: center;background: #fff;}
.popup li{background: #fff;color: #015494;font-size: 14px;height: 40px;line-height: 40px;}
.popup li:first-of-type{background: #015494;color: #fff;}
.blue{background: #015494!important;color: #fff!important;}
.tl{text-align: left!important;padding-left: 10px!important;}